button{
    width: 100%;
    padding: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: rgba(1, 0, 8, 0.753);
    color: white;
}
.readmore-button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    position: absolute;
    bottom:0;
}