.game-card-list{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 20px;
    .card{
        border: solid 2px black;
        max-width: 300px;
        min-height: 400px;
        overflow: hidden;
        .containerImageCard{
            .imageCard {
                width: 100%;
            }
        }
    }  
}



