@import './sass/variables.scss';
@import './sass/variables.scss';
@import './sass/animations.scss';
@import './sass/buttons.scss';
@import './sass/cards.scss';
@import './sass/navTop.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: none;
    list-style: none;
}